*{  
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Wix Madefor Text', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
  }
  
main{
    background-image: linear-gradient(rgb(99, 99, 99),rgb(184, 184, 184));
}


.navbar{
    position: fixed;
    z-index: 1000;
    box-shadow: 1px 1px 5px #bbb;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    background-color: #fff;
    width: 100%;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    list-style: none;
    padding-right: 25px;
    align-items: center;
}

.navbar a{
    font-size: 18px;
    color: #000;
    text-decoration: none;
    font-weight: 450;
    transition: 0.3s;
}


.navbar a:hover{
    color: #bbb;
}

.info-box{
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15rem;
}


.perfil-box{
    display: flex;
    flex-direction: row;
    gap: 50px;
}


.info-description{
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    gap: 30px;
    
}

.info-description p{
    font-weight: 598;
    color: #686868;
    font-size: 20px;
}


.perfil-img img{
    border-radius: 190px;
    width: 20rem;
    height: 20rem;
    
}

.socials {
    display: flex;
    gap: 30px;
}

.socials i{
    text-decoration: none;
    font-size: 35px;
    transition: 0.4s;
}

.socials i:hover{
    transform: scale(1.2);
}


.abilities-box {
    align-items: left;
    display: flex;
    font-size: 1.7rem;
    gap: 1rem;
    flex-direction: column;
}

.languages {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: left;
    font-size: 30px;
}

.about-box {
    padding: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about-description {
    color: #fff;
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: center;
    width: 60rem;
}

.about-description p {
    line-height: 27px;
    font-size: 18px;
    padding: 40px;
    color: #fff;
}

.about-box img {
    width: 400px;
    border-radius: 20px;
}

.main-titles {
    padding: 10px;
    text-align: center;
}

.main-titles-about {
    padding-left: 40px;
}

.portfolio-box {
    display: grid;
    gap: 4rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    width: 100%;
    padding: 5rem;
    justify-content: center;
}

.portfolio-description {
    text-align: center;
    color: #fff;
}


.portfolio-box img {
    width: 600px;
}

.magnum,
.linktree{
    background-color:#eee;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding: 3rem;
    gap: 50px;
}

.magnum p,
.calculadora-imc p,
.linktree p,
.login p {
    font-weight: 570;
    font-size: 18px;
    color: #5a5a5a;
    
}

.magnum-description,
.imc-description,
.linktree-description,
.login-description {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    text-align: center;
    /*definir um width ir치 delimitar ate onde o texto ir치 */
    width: 30rem;
    gap: 0.8rem;
}

.magnum-description i,
.imc-description i,
.linktree-description i,
.login-description i{
    font-size: 25px;
}


.magnum-description h2,
.imc-description h2,
.linktree-description h2,
.login-description h2{
    padding: 20px;
    text-align: center;
    align-items: center;
    text-underline-position: under;
}

.magnum-description h2 {
    text-decoration: underline #ffb20d 3px;
}

.imc-description h2{
    text-decoration: underline #4ebd57 3px;
}

.linktree-description h2 {
    text-decoration: underline #af7345 3px;
}

.login-description h2 {
    text-decoration: underline #6cccf8 3px;
}

.magnum img,
.calculadora-imc img,
.linktree img,
.login img{
    border-radius: 10px;
}

.magnum-source,
.imc-source,
.linktree-source,
.login-source {
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.magnum-source a,
.imc-source a,
.linktree-source a,
.login-source a{
    text-decoration: none;
    color: #000;
    transition: 0.3s;
}

.magnum-source i,
.imc-source i,
.linktree-source i,
.login-source i{
    font-size: 29px;
}

.magnum-source a:hover
    {
    color: #ffb20d;
}

.imc-source a:hover{
    color: #4ebd57;
}

.linktree-source a:hover{
    color: #af7345;
}

.login-source a:hover {
    color: #6cccf8;
}

.calculadora-imc,
.login{
    background-color:#eee;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    padding: 3rem;
}

.contact{
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    padding: 50px;
    background-color: #eee;
}

.contact a {
    color: #000;
    text-decoration: none;
    transition: 0.3s;
}

.contact a:hover{
    transform: scale(1.1);
    color: #4ebd57;
}

.contact i {
    font-size: 20px;
}

.contact-box {
    text-align: center;
}

.contact-links{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.contact-description {
    padding: 1rem;
}



.footer-box {
    padding: 1.5rem;
    background: #000;
    color: #fff;
}

.foot-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.socials-foot i{
    padding: 10px;
    transition: 0.3s;
}

.socials-foot i:hover{
    transform: scale(1.2);
}

.socials-foot i {
    font-size: 30px;
    color: #fff;
}


#menu-bar{
    display: none;
}


header label{
    font-size: 20px;
    color: #000000;
    display: none;
}

@media screen and (max-width: 901px) {



    header{
        background-color: #fff;
        width: 100%;
        padding: 20px;
        position: fixed;
    }

    header label {
        display: initial;
    }

    header .navbar {
        box-shadow: none;
        position: relative;
        display: none;
    }

    header .navbar ul {
        flex-direction: column;
        padding: 13px;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    header .navbar a {
        font-size: 15px;
        color: #000;
    }

    header .navbar h1{
        display: none;
    }

    #menu-bar:checked ~ .navbar {
        display: initial;
    }


    .perfil-img img {
        width: 20rem;
    }

    .info-box{
        text-align: center;
        padding: 1.5rem;
        align-items: center;
        justify-content: center;
        gap: 0;
        padding-top: 8rem ;
    
    }
    
    .perfil-box{
        gap: 1rem;
        flex-direction: column-reverse;
    }

    .socials a{
        text-align: center;
    }

    .info-description{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        width: 40rem;
        
    }

    .info-description p{
        font-size: 18px;
    }

    .abilities-box{
        display: flex;
        flex-direction: column;
        padding: 30px;
    }

    .about-box {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about-description {
        gap: 5rem;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        width: 400px;
    }

    .about-box img {
        width: 300px;
    }

    .main-titles-about {
        padding-left: 0;
    }


    .portfolio-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

   
    
    .portfolio-box img {
        width: 370px;
    }
    
  

    .login,
    .calculadora-imc{
        background-color:#eee;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        border-radius: 10px;
        gap: 50px;
        justify-content: center;
    }



    .magnum,
    .linktree {
        background-color:#eee;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        border-radius: 10px;
        gap: 50px;
        justify-content: center
    }
    
    .linktree-source,
    .magnum-source,
    .login-source,
    .imc-source {
        align-items: center;
        gap: 50px;
    }



    .magnum p,
    .calculadora-imc p,
    .linktree p,
    .login p {
        font-weight: 590;
        font-size: 15px;
    
    }   

    .magnum-description,
    .imc-description,
    .linktree-description,
    .login-description {
        line-height: 1.5rem;
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
        /*definir um width ir치 delimitar ate onde o texto ir치 */
        width: 20rem;
        gap: 1.2rem;
    }

    .contact{
        display: flex;
        align-items: center;
        gap: 0px;
        flex-direction: column;
        padding: 30px;
        background-image: #eee;
        margin: 30px;
        border-radius: 20px;
    }
    
    
    .contact i {
        font-size: 20px;
    }
    
    .contact-box {
        text-align: center;
    }
    
    .contact-links{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .contact-description {
        padding: 1rem;
    }
    

    .footer-box{
        padding: 0;
    }
    
 

}