*{  
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Wix Madefor Text', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }
  

body p{
    line-height: 30px;
    font-size: 17px;
    color: #585858;
}

body{
    background-image: linear-gradient(rgb(99, 99, 99),rgb(184, 184, 184));
    position: relative;
}

.nav{
    position: fixed;
    box-shadow: 1px 1px 5px #bbb;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    background-color: #fff;
    width: 100%;
}

.nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    list-style: none;
    padding-right: 25px;
    align-items: center;
}

.nav a{
    font-size: 18px;
    color: #000;
    text-decoration: none;
    font-weight: 450;
    transition: 0.3s;
}


.nav a:hover{
    color: #bbb;
}

.info-box{
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 22rem;
}


.perfil-box{
    display: flex;
    flex-direction: row;
    gap: 100px;
}


.info-description{
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    gap: 30px;
    
}

.info-description p{
    font-weight: 600;
    color: #686868;
    font-size: 20px;
}


.perfil-img img{
    border-radius: 190px;
    width: 180%;
    
}

.socials {
    display: flex;
    gap: 30px;
}

.socials i{
    text-decoration: none;
    font-size: 35px;
    transition: 0.2s;
}

.socials i:hover{
    transform: scale(1.2);
}



.abilities-box {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-top: 2em;
    font-size: 23px;
}

.abilities-box i{
    font-size: 33px;
}

.languages {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    font-size: 30px;
}

.about-box {
    padding: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about-description {
    color: #fff;
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: center;
    width: 60rem;
}

.about-description p {
    padding: 40px;
    color: #fff;
}

.about-box img {
    width: 400px;
    border-radius: 20px;
}

.main-titles {
    padding: 10px;
    text-align: center;
}

.main-titles-about {
    padding-left: 40px;
}

.portfolio-box {
    display: grid;
    gap: 5rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    height: auto;
    width: 100%;
    padding: 12rem;
}

.portfolio-description {
    text-align: center;
    color: #fff;
}


.portfolio-box img {
    width: 600px;
}

.magnum,
.linktree{
    background-color:#eee;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding: 3rem;
}

.magnum p,
.calculadora-imc p,
.linktree p,
.login p {
    font-weight: 590;
    font-size: 18px;
    
}

.magnum-description,
.imc-description,
.linktree-description,
.login-description {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    text-align: center;
    /*definir um width irá delimitar ate onde o texto irá */
    width: 30rem;
    gap: 0.8rem;
}

.magnum-description i,
.imc-description i,
.linktree-description i,
.login-description i{
    font-size: 25px;
}


.magnum-description h2,
.imc-description h2,
.linktree-description h2,
.login-description h2{
    padding: 20px;
    text-align: center;
    align-items: center;
    text-underline-position: under;
}

.magnum-description h2 {
    text-decoration: underline #ffb20d 3px;
}

.imc-description h2{
    text-decoration: underline #4ebd57 3px;
}

.linktree-description h2 {
    text-decoration: underline #af7345 3px;
}

.login-description h2 {
    text-decoration: underline #6cccf8 3px;
}

.magnum img,
.calculadora-imc img,
.linktree img,
.login img{
    border-radius: 10px;
}

.magnum-source,
.imc-source,
.linktree-source,
.login-source {
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.magnum-source a,
.imc-source a,
.linktree-source a,
.login-source a{
    text-decoration: none;
    color: #000;
    transition: 0.3s;
}

.magnum-source i,
.imc-source i,
.linktree-source i,
.login-source i{
    font-size: 29px;
}

.magnum-source a:hover
    {
    color: #ffb20d;
}

.imc-source a:hover{
    color: #4ebd57;
}

.linktree-source a:hover{
    color: #af7345;
}

.login-source a:hover {
    color: #6cccf8;
}

.calculadora-imc,
.login{
    background-color:#eee;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    padding: 3rem;
}

