*{  
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Wix Madefor Text', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body p{
    line-height: 30px;
    font-size: 17px;
    color: #585858;
    
}

.nav{
    position: fixed;
    box-shadow: 1px 1px 5px #bbb;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    background-color: #fff;
    width: 100%;
}

.nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    list-style: none;
    padding-right: 25px;
    align-items: center;
}

.nav a{
    font-size: 18px;
    color: #000;
    text-decoration: none;
    font-weight: 450;
    transition: 0.3s;
}


.nav a:hover{
    color: #bbb;
}

.info-box{
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px;
}


.perfil-box{
    display: flex;
    flex-direction: row;
    gap: 100px;
}


.info-description{
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    gap: 13px;
    
}

.info-description p{
    font-weight: 500;
    color: #585858;
    font-size: 18px;
}


.perfil-img img{
    border-radius: 190px;
    width: 180%;
    
}

.socials {
    display: flex;
    gap: 30px;
}

.socials i{
    text-decoration: none;
    font-size: 25px;
    transition: 0.2s;
}

.socials i:hover{
    transform: scale(1.1);
}



.abilities-box {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-top: 2em;
}

.languages {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    font-size: 30px;
}

.about-box {
    padding: 150px;
}

.about-description {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: center;
}

.about-description p {
    padding: 40px;
}

.about-box img {
    width: 400px;
    border-radius: 20px;
}

.main-titles {
    padding: 10px;
    text-align: center;
}

.main-titles-about {
    padding-left: 40px;
}

.portfolio-box {
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.portfolio-description {
    text-align: center;
}


.portfolio-box img {
    width: 600px;
}

.magnum,
.linktree{
    background-color:#eee;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 100px;
    padding: 30px;
    max-width: 100%;
    text-align: center;
}

.magnum-description i,
.imc-description i,
.linktree-description i,
.login-description i{
    font-size: 25px;
    
}


.magnum-description h2,
.imc-description h2,
.linktree-description h2,
.login-description h2{
    padding: 20px;
    text-align: center;
    align-items: center;
    text-underline-position: under;
}

.magnum-description h2 {
    text-decoration: underline #ffb20d 3px;
}

.imc-description h2{
    text-decoration: underline #4ebd57 3px;
}

.linktree-description h2 {
    text-decoration: underline #af7345 3px;
}

.login-description h2 {
    text-decoration: underline #6cccf8 3px;
}

.magnum img,
.calculadora-imc img,
.linktree img,
.login img{
    border-radius: 10px;
}

.magnum-source,
.imc-source,
.linktree-source,
.login-source {
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.magnum-source a,
.imc-source a,
.linktree-source a,
.login-source a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    transition: 0.3s;
}

.magnum-source i,
.imc-source i,
.linktree-source i,
.login-source{
    font-size: 25px;
}

.magnum-source a:hover
    {
    color: #ffb20d;
}

.imc-source a:hover{
    color: #4ebd57;
}

.linktree-source a:hover{
    color: #af7345;
}

.login-source a:hover {
    color: #6cccf8;
}

.calculadora-imc,
.login{
    background-color:#eee;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 100px;
    padding: 30px;
    max-width: 100%;
    text-align: center;
}

